body,
ul,
h1,
h2,
li,
a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

main img {
    max-width: 300px;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #0e60e6;
    transform: scale(1.1);
}

/*======================
    Nav-bar Styles
======================*/
.nav-bar {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.company-logo-container {
    width: 1120px;
}

.company-logo {
    float: left;
    height: auto;
    width: 150px;
}

.nav-bar ul {
    vertical-align: top;
    float: right;

}

.nav-bar li {
    transition: all 0.2s ease-in-out;
    float: right;
    list-style: none;
    margin: 10px;
    color: #e5e7eb;
    
}

.nav-bar li:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.05);

}

/*======================
    Section-One Styles
======================*/
.section-one {
    display: flex;
    justify-content: center;
    max-height: 250px;
    min-width: 530px;
    padding: 50px 0 100px 0;
}

.section-one button{
    width: 7.5em;
    height: 2.5em;
    margin-top: 70px;
}

.section-one-text {
    width: 550px;
    max-height: 300px;
    max-width: 550px;
    min-width: 250px;
    text-align: left;
    padding: 0 20px 0 0;
}

.header-image {
    max-height: 300px;
    min-width: 250px;
    width: 550px;
    object-fit: cover;
}

/*======================
    Section-Two Styles
======================*/

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-two ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px ;
}

.section-two h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px 0 20px 0;
}
.section-two p {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
    max-width: 200px;
}

.section-two li {
    text-align: center;
    margin: 30px;
    
}
.section-two img {
    object-fit: cover;
    max-height: 180px;
    min-width: 180px;
    width: 180px;
    height: 180px;
    border: #0e60e6;
    border-style: solid;
    border-radius: 15%;
    border-width: 5px;
}

/*======================
    Section-Three Styles
======================*/

.section-three {
    background-color: #e5e7eb;
}

.section-three p {
    position: relative;
    max-width: 800px;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    padding: 120px 0 120px 0;
}
.section-three span {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    bottom: 90px;
    right: 0;
}

/*======================
    Section-Four Styles
======================*/
.section-four{
    position: relative;
    margin: 100px auto;
    padding: 50px 100px;
    text-align: left;
    background-color: #3882F6;
    max-width: 920px;
    border-radius: 15px;
    color: #f9faf8;

}
.section-four h3{
    font-size: 24px;
    margin: 0;
}
.section-four p{
    color: #e5e7eb;
    margin: 0;
}
.section-four button{
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    width: 130px;
    border: #f9faf8 2.5px solid;
}

/*======================
    Footer Styles
======================*/
footer p {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-weight: bold;
}
